
body {
    margin: 0 10px;
}


#main-header {
    width: 100%;
    margin-top: 60px;
    background-image: url('images/pattern.jpeg');
}

#main-header h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}

.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

#brushes h2 {
    background-color: mediumspringgreen;
}

#frames h2 {
    background-color: lightcoral;
}

#paint h2 {
    background-color: skyblue;
}